<%= form_for(@tipo_pago) do |f| %>
<% if @tipo_pago.errors.any? %>
<div id="error">

  <h3><%= @tipo_pago.errors.full_messages.last %></h3>
</div>
<% end %>
<div class="field">
  <%= f.label t('nombrez') %>
  <br />
  <%= select( :tipo_pago, "nombre", { "Visa" => "Visa", "Mastercard" => "Mastercard", "American Express" => "American Express"}) %>
</div>
<div class="field">
  <%= f.label t('numtarjeta') %>
  <br />
  <%= f.text_field :nTDC %>
</div>
<div class="field">
  <%= f.label t('codseguridad') %>
  <br />
  <%= f.text_field :cSeguridad %>
</div>
<div class="field">
  <%= f.label t('fechavencimiento') %>
  <br />
  <%= f.date_select :fVencimiento %>
</div>
<div class="actions">
  <%= f.submit %>
</div>
<% end %>
