<h1>Mis Tarjetas de credito</h1>

<table width="80%">
  <tr>
    <th>Nombre</th>
    <th>C&oacute;digo de Seguridad</th>
    <th>Fecha Vencimiento</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @tipo_pagos.each do |tipo_pago| %>
  <tr align="Center">
    <td><%= tipo_pago.nombre %></td>
    <td><%= tipo_pago.nTDC %></td>
    <td><%= tipo_pago.fVencimiento %></td>
    <td><%= link_to 'Mostrar', tipo_pago %></td>
    <td><%= link_to 'Editar', edit_tipo_pago_path(tipo_pago) %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Agregar Tarjeta de Credito', new_tipo_pago_path %>
