<h1><%= t('mistarjetas')%></h1>

<table width="80%">
  <tr>
    <th><%= t('nombrez')%></th>
    <th><%= t('codseguridad')%></th>
    <th><%= t('fechavencimiento')%></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @tipo_pagos.each do |tipo_pago| %>
  <tr align="Center">
    <td><%= tipo_pago.nombre %></td>
    <td><%= tipo_pago.nTDC %></td>
    <td><%= tipo_pago.fVencimiento %></td>
    <td><%= link_to t('mostrar'), tipo_pago %></td>
    <td><%= link_to t('editar'), edit_tipo_pago_path(tipo_pago) %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to t('agregartarjeta'), new_tipo_pago_path %>
