<p id="notice"><%= notice %></p>

<p>
  <b>Nombre:</b>
  <%= @tipo_pago.nombre %>
</p>

<p>
  <b>N&uacute;mero de Tarjeta:</b>
  <%= @tipo_pago.nTDC %>
</p>

<p>
  <b>C&oacute;digo de Seguridad:</b>
  <%= @tipo_pago.cSeguridad %>
</p>

<p>
  <b>Fecha Vencimiento:</b>
  <%= @tipo_pago.fVencimiento %>
</p>


<%= link_to 'Edit', edit_tipo_pago_path(@tipo_pago) %> |
<%= link_to 'Back', tipo_pagos_path %>
