<p id="notice"><%= notice %></p>

<p>
  <b><%= t('nombrez')%>:</b>
  <%= @tipo_pago.nombre %>
</p>

<p>
  <b><%= t('numtarjeta')%>:</b>
  <%= @tipo_pago.nTDC %>
</p>

<p>
  <b><%= t('codseguridad')%>:</b>
  <%= @tipo_pago.cSeguridad %>
</p>

<p>
  <b><%= t('fechavencimiento')%>:</b>
  <%= @tipo_pago.fVencimiento %>
</p>


<%= link_to t('editar'), edit_tipo_pago_path(@tipo_pago) %> |
<%= link_to t('regresar'), tipo_pagos_path %>
