<h1>Listing direccions</h1>



<table width="80%" align="Center">
  <tr>
  	<th>Pais</th>
  	<th>Ciudad</th>
  	<th>Avenida</th>
    <th>Residencia</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @direccions.each do |direccion| %>
  <tr align="Center">
  	<td><%= direccion.pais %></td>
  	<td><%= direccion.ciudad %></td>
    <td><%= direccion.avCalle %></td>
    <td><%= direccion.resCasa %></td>
    <td><%= link_to 'Show', direccion %></td>
    <td><%= link_to 'Edit', edit_direccion_path(direccion) %></td>
    <td><%= link_to 'Destroy', direccion, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />