<table width="80%" align="Center">
	<tr>
		<th></th>
		<th></th>
		<th>Pais</th>
		<th>Ciudad</th>
		<th>Avenida</th>
		<th>Residencia</th>
	</tr>
	<%= form_for(:enviar, :url => {:action => 'create'}) do |f| %>
	<% @direccions.each do |direccion| %>
	<tr align="Center">

		<div class="field">

			<td><%= radio_button("enviar", "direccions_id", direccion.id) %></td>			
			<td><%= radio_button("enviar", "direccions", direccion.id) %></td>
			<%=f.hidden_field :ordens_id, :value=> @orden %>
		</div>
		<td><%= direccion.pais %></td>
		<td><%= direccion.ciudad %></td>
		<td><%= direccion.avCalle %></td>
		<td><%= direccion.resCasa %></td>
	</tr>
	<% end %>

</table>	<%= f.submit %>
	<% end %>
<br />
<%= render ('maps') %>
