<h1><%= t('listadopaquetes')%></h1>

<table>
  <tr>
    <th><%= t('nombrez') %></th>
    <th><%= t('peso') %></th>
    <th><%= t('descripcion') %></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @paquetes.each do |paquete| %>
  <tr>
    <td><%= paquete.nombre %></td>
    <td><%= paquete.peso %></td>
    <td><%= paquete.descripcion %></td>
    <td><%= link_to t('mostrar'), paquete %></td>
    <td><%= link_to t('editar'), edit_paquete_path(paquete) %></td>
    <td><%= link_to t('eliminar'), paquete, :confirm => t('eliminarseguro'), :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to t('nuevopaquete'), new_paquete_path %>
|
<%= validar (@id) %>
