<h1>Listing paquetes</h1>

<table>
  <tr>
    <th>Nombre</th>
    <th>Peso</th>
    <th>Descripcion</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @paquetes.each do |paquete| %>
  <tr>
    <td><%= paquete.nombre %></td>
    <td><%= paquete.peso %></td>
    <td><%= paquete.descripcion %></td>
    <td><%= link_to 'Show', paquete %></td>
    <td><%= link_to 'Edit', edit_paquete_path(paquete) %></td>
    <td><%= link_to 'Destroy', paquete, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Nuevo Paquete', new_paquete_path %>
|
<%= validar (@id) %>
