<p id="notice"><%= notice %></p>

<p>
  <b><%= t('nombrez') %>:</b>
  <%= @paquete.nombre %>
</p>

<p>
  <b><%= t('peso') %>:</b>
  <%= @paquete.peso %>
</p>

<p>
  <b><%= t('descripcion') %>:</b>
  <%= @paquete.descripcion %>
</p>


<%= link_to t('editar'), edit_paquete_path(@paquete) %> |
<%= link_to t('regresar'), paquetes_path %>
