<%= form_for(@direccion) do |f| %>
<% if @direccion.errors.any? %>
<% end %>
<div id="formdir">
  <table width="100%">
    <tr>

      <td>
      <div class="field">
        <%= f.label t('nombrez') %>
        <br />
        <%= f.text_field :nombre %>
      </div>
      </td>
      <td>
      <div class="field">
        <%= f.label t('calle') %>
        <br />
        <%= f.text_field :avCalle %>
      </div>
      </td>
    </tr>
    <tr>
      <td>
      <div class="field">
        <%= f.label t('nombrecasa') %>
        <br />
        <%= f.text_field :resCasa %>
      </div>
      </td>
      <td>
      <div class="field">
        <%= f.label t('urbanizacion') %>
        <br />
        <%= f.text_field :urban %>
      </div>
      </td>
    </tr>
    <tr>
      <td>
      <div class="field">
        <%= f.label t('numerocasa') %>
        <br />
        <%= f.text_field :aptoNumero %>
      </div>
      </td>
      <td>
      <div class="field">
        <%= f.label t('ciudad') %>
        <br />
        <%= f.text_field :ciudad %>
      </div>
      </td>
    </tr>
    <tr>
      <td>
      <div class="field">
        <%= f.label t('paiz') %>
        <br />
        <%= f.text_field :pais %>
      </div>
      </td>
      <td>
      <div class="field">
        <%= f.label t('codigopostal') %>
        <br />
        <%= f.text_field :cPostal %>
      </div>
      </td>
    </tr>
    <tr>
      <td>
      <div class="field">
        <%= f.label t('longitud') %>
        <br />
        <%= f.text_field :lng, :onchange=>"placeMarker()", :readonly =>"true" %>
      </div>
      </td>
      <td>
      <div class="field">
        <%= f.label t('latitud')  %>
        <br />
        <%= f.text_field :lat, :onchange=>"placeMarker()", :readonly =>"true" %>
      </div>
      </td>
    </tr>
    <tr>
      <td>
      <div class="actions">
        <%= f.submit %>
      </div>
      </td>
    </tr>
  </table>
</div>
<% end %>
