<h1><%= t('listdir') %></h1>

<table width="80%" align="Center">
  <tr>
    <th><%= t('nombrez') %></th>  	
  	<th><%= t('paiz') %></th>
  	<th><%= t('ciudad') %></th>
  	<th><%= t('avenida') %></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @direccions.each do |direccion| %>
  <tr align="Center">
    <td><%= direccion.nombre %></td>  	
  	<td><%= direccion.pais %></td>
  	<td><%= direccion.ciudad %></td>
    <td><%= direccion.avCalle %></td>
    <td><%= link_to t('mostrar'), direccion %></td>
    <td><%= link_to t('editar'), edit_direccion_path(direccion) %></td>
    <td><%= link_to t('eliminar'), direccion, :confirm => 'Esta seguro que desea Borrarla?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to t('linkdireccion'), new_direccion_path %>
