<p id="notice">
  <%= notice %>
</p>
<p>
  <b>Nombre:</b>
  <%= @direccion.nombre %>
</p>
<p>
  <b>Calle o Avenida:</b>
  <%= @direccion.avCalle %>
</p>
<p>
  <b>Nombre de la Casa:</b>
  <%= @direccion.resCasa %>
</p>
<p>
  <b>N&uacute;mero de Casa:</b>
  <%= @direccion.aptoNumero %>
</p>
<p>
  <b>Urbanizaci&oacute;n:</b>
  <%= @direccion.urban %>
</p>
<p>
  <b>Ciudad:</b>
  <%= @direccion.ciudad %>
</p>
<p>
  <b>Pa&iacute;s:</b>
  <%= @direccion.pais %>
</p>
<p>
  <b>C&oacute;digo postal:</b>
  <%= @direccion.cPostal %>
</p>
<p>
  <b>Latitud:</b>
  <%= @direccion.lat %>
</p>
<p>
  <b>Longitud:</b>
  <%= @direccion.lng %>
</p>
<%= link_to 'Editar', edit_direccion_path(@direccion) %> |
<%= link_to 'Regresar', direccions_path %>
