<p id="notice"><%= notice %></p>

<p>
  <b>Nombre:</b>
  <%= @direccion.nombre %>
</p>
<p>
  <b>Avcalle:</b>
  <%= @direccion.avCalle %>
</p>

<p>
  <b>Rescasa:</b>
  <%= @direccion.resCasa %>
</p>

<p>
  <b>Aptonumero:</b>
  <%= @direccion.aptoNumero %>
</p>

<p>
  <b>Avcalle:</b>
  <%= @direccion.avCalle %>
</p>

<p>
  <b>Urban:</b>
  <%= @direccion.urban %>
</p>

<p>
  <b>Ciudad:</b>
  <%= @direccion.ciudad %>
</p>

<p>
  <b>Pais:</b>
  <%= @direccion.pais %>
</p>

<p>
  <b>Cpostal:</b>
  <%= @direccion.cPostal %>
</p>

<p>
  <b>Lat:</b>
  <%= @direccion.lat %>
</p>

<p>
  <b>Lng:</b>
  <%= @direccion.lng %>
</p>


<%= link_to 'Edit', edit_direccion_path(@direccion) %> |
<%= link_to 'Back', direccions_path %>
