<p id="notice">
  <%= notice %>
</p>
<p>
  <b><%= t('nombrez') %>:</b>
  <%= @direccion.nombre %>
</p>
<p>
  <b><%= t('calle') %>:</b>
  <%= @direccion.avCalle %>
</p>
<p>
  <b><%= t('nombrecasa') %>:</b>
  <%= @direccion.resCasa %>
</p>
<p>
  <b><%= t('numerocasa') %>:</b>
  <%= @direccion.aptoNumero %>
</p>
<p>
  <b><%= t('urbanizacion') %>:</b>
  <%= @direccion.urban %>
</p>
<p>
  <b><%= t('ciudad') %>:</b>
  <%= @direccion.ciudad %>
</p>
<p>
  <b><%= t('paiz') %>:</b>
  <%= @direccion.pais %>
</p>
<p>
  <b><%= t('codigopostal') %>:</b>
  <%= @direccion.cPostal %>
</p>
<p>
  <b><%= t('latitud') %>:</b>
  <%= @direccion.lat %>
</p>
<p>
  <b><%= t('longitud')  %>:</b>
  <%= @direccion.lng %>
</p>
<%= link_to t('editar'), edit_direccion_path(@direccion) %> |
<%= link_to t('regresar'), direccions_path %>
