<h1><%= t('listadocompanias') %></h1>

<table width="80%">
	<tr>
		<th><%= t('nombrez') %></th>
		<th>Rif</th>
		<th><%= t('direcciones') %></th>
		<th><%= t('telefono') %></th>
		<th></th>
		<th></th>
		<th></th>
	</tr>
	<% @compania.each do |companium| %>
	<tr align="Center">
		<td><%= companium.nombre %></td>
		<td><%= companium.rif %></td>
		<td><%= companium.direccionF %></td>
		<td><%= companium.telefono %></td>
		<td><%= link_to t('editar'), companium %></td>
		<td><%= link_to t('editar'), edit_companium_path(companium) %></td>
		<td><%= link_to t('solicitar'), companium, :method => :delete %></td>
	</tr>
	<% end %>
</table>

<br />

<%= link_to t('agregarcompania'), new_companium_path %>
