<h1>Listing compania</h1>

<table width="80%">
	<tr>
		<th>Nombre</th>
		<th>Rif</th>
		<th>Direccionf</th>
		<th>telefono</th>
		<th></th>
		<th></th>
		<th></th>
	</tr>
	<% @compania.each do |companium| %>
	<tr align="Center">
		<td><%= companium.nombre %></td>
		<td><%= companium.rif %></td>
		<td><%= companium.direccionF %></td>
		<td><%= companium.telefono %></td>
		<td><%= link_to 'Show', companium %></td>
		<td><%= link_to 'Edit', edit_companium_path(companium) %></td>
		<td><%= link_to 'Destroy', companium, :confirm => 'Are you sure?', :method => :delete %></td>
	</tr>
	<% end %>
</table>

<br />

<%= link_to 'New Companium', new_companium_path %>
