<p id="notice"><%= notice %></p>

<p>
  <b><%= t('nombrez') %>:</b>
  <%= @companium.nombre %>
</p>

<p>
  <b>Rif:</b>
  <%= @companium.rif %>
</p>

<p>
  <b><%= t('direcciones') %>:</b>
  <%= @companium.direccionF %>
</p>

<p>
  <b><%= t('telefono') %>:</b>
  <%= @companium.telefono %>
</p>
<p>
  <b><%= t('urlget') %>:</b>
  <%= @companium.urlget %>
</p>
<p>
  <b><%= t('urlapoyo') %>:</b>
  <%= @companium.urlset %>
</p>


<%= link_to t('editar'), edit_companium_path(@companium) %> |
<%= link_to t('regresar'), compania_path %>
