<h1><%= t('listaempleado') %></h1>

<table>
  <tr>
  	<th><%= t('nombrez') %></th>
    <th><%= t('cargo') %></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @empleados.each do |empleado| %>
  <tr>
  	<td><%#= empleado.nombre+' '+empleado.apellido 
  	%></td>
    <td><%= empleado.cargo 
    %></td>
    <td><%= link_to t('mostrar'), empleado %></td>
    <td><%= link_to t('editar'), edit_empleado_path(empleado) %></td>
    <td><%= link_to t('eliminar'), empleado, :confirm => t('eliminarseguro'), :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to t('nuevoempleado'), new_empleado_path %>
