<p id="notice"><%= notice %></p>
<p>
  <b>Email:</b>
  <%= @persona.email %>
</p>

<p>
  <b><%= t('nombrez') %>:</b>
  <%= @persona.nombre+' '+@persona.apellido %>
</p>

<p>
  <b><%= t('cargo') %>:</b>
  <%= @empleado.cargo %>
</p>


<%= link_to t('editar'), edit_empleado_path(@empleado) %> |
<%= link_to t('regresar'), empleados_path %>
