<html>
	<html>
<head>
  <title>Courier</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
	<body onload="initialize()">

<div id="wrapper">
	<div id="header">
		<div id="logo">
			<h1><a href="#">Courier UCAB   </a></h1>
		</div>
	</div>
	<!-- end #header -->
	<div id="menu">
		<ul>
			<li class="current_page_item"><a href="#">Home</a></li>
			<li><a href="#">Blog</a></li>
			<li><a href="#">Photos</a></li>
			<li><a href="#">About</a></li>
			<li><a href="#">Links</a></li>
			<li><a href="#">Contact</a></li>
		</ul>
	</div>
	<!-- end #menu -->

		<div id="page">
			<div id="page-bgtop">
				<div id="page-bgbtm">
					<div id="content">
						<div class="post">
							<div id='error'><h3><%=flash[:error]%></h3></div>
							<h2 class="title">
							Welcome to Vertebrate
														</h2>
							<p class="meta">
								<span class="date">September 10, 2009</span>
								<span class="posted">
									Posted by 
									<a href="#">Someone </a>
								</span>
							</p>
							<div style="clear: both;">
								&nbsp;
							</div>
							<div class="entry" >
								<div id="map_canvas" style="width:100%; height:50%">
								</div>
							</div>
						</div>
						<div class="post">
							<h2 class="title">
							<a href="#">Consecteteur hendrerit</a>
							</h2>
							<p class="meta">
								<span class="date">September 10, 2009</span>
								<span class="posted">
									Posted by 
									<a href="#">Someone </a>
								</span>
							</p>
							<div style="clear: both;">
								&nbsp;
							</div>
							<div class="entry">
								<p>
									Sed lacus. Donec lectus. Nullam pretium nibh ut turpis. Nam bibendum. In nulla tortor, elementum vel, tempor at, varius non, purus. Mauris vitae nisl nec metus placerat consectetuer. Donec ipsum. Proin imperdiet est. Phasellus
									<a href="#">dapibus semper urna</a>. Pellentesque ornare, orci in consectetuer hendrerit, urna elit eleifend nunc, ut consectetuer nisl felis ac diam. Etiam non felis. Donec ut ante. In id eros. Suspendisse lacus turpis, cursus egestas at sem.  Mauris quam enim, molestie in, rhoncus ut, lobortis a, est.
								</p>
								<p class="links">
									<a href="#">Read More</a>&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;
									<a href="#">Comments</a>
								</p>
							</div>
						</div>
						<div style="clear: both;">
							&nbsp;
						</div>
					</div>
					<!-- end #content -->
					<div id="sidebar">
						<ul>
							<li>
								<div id="search" >
									<form method="get" action="#">
										<div>
											<input type="text" name="s" onChange="placeMarker();" id="buscar" value="" />
											<input type="submit" id="search-submit" value="GO" />
										</div>
									</form>
								</div>
								<div style="clear: both;">
									&nbsp;
								</div>
							</li>
							<li>
								<h2>Ingresar</h2>
								<p>
									<a id="Ingresar_sistema" href="https://www.google.com/accounts/o8/ud
									?openid.ns=http://specs.openid.net/auth/2.0
									&openid.ns.pape=http://specs.openid.net/extensions/pape/1.0
									&openid.ns.max_auth_age=300
									&openid.claimed_id=http://specs.openid.net/auth/2.0/identifier_select
									&openid.identity=http://specs.openid.net/auth/2.0/identifier_select
									&openid.return_to=http://<%= @remote_ip %>:3000/contenido
									&openid.realm=http://<%= @remote_ip %>:3000
									&openid.assoc_handle=ABSmpf6DNMw
									&openid.mode=checkid_setup
									&openid.ui.ns=http://specs.openid.net/extensions/ui/1.0
									&openid.ui.mode=popup
									&openid.ui.icon=true
									&openid.ns.ax=http://openid.net/srv/ax/1.0
									&openid.ax.mode=fetch_request
									&openid.ax.type.lastname=http://axschema.org/namePerson/last
									&openid.ax.type.email=http://axschema.org/contact/email
									&openid.ax.type.firstname=http://axschema.org/namePerson/first
									&openid.ax.required=lastname,email,firstname">Ingresar al sistema</a>
								</p>
							</li>
							<li>
								<h2>Categories</h2>
								<ul>
									<li>
										<a href="#">Aliquam libero</a>
									</li>
									<li>
										<a href="#">Consectetuer adipiscing elit</a>
									</li>
									<li>
										<a href="#">Metus aliquam pellentesque</a>
									</li>
									<li>
										<a href="#">Suspendisse iaculis mauris</a>
									</li>
									<li>
										<a href="#">Urnanet non molestie semper</a>
									</li>
									<li>
										<a href="#">Proin gravida orci porttitor</a>
									</li>
								</ul>
							</li>
							<li>
								<h2>Blogroll</h2>
								<ul>
									<li>
										<a href="#">Aliquam libero</a>
									</li>
									<li>
										<a href="#">Consectetuer adipiscing elit</a>
									</li>
									<li>
										<a href="#">Metus aliquam pellentesque</a>
									</li>
									<li>
										<a href="#">Suspendisse iaculis mauris</a>
									</li>
									<li>
										<a href="#">Urnanet non molestie semper</a>
									</li>
									<li>
										<a href="#">Proin gravida orci porttitor</a>
									</li>
								</ul>
							</li>
						</ul>
					</div>
					<!-- end #sidebar -->
					<div style="clear: both;">
						&nbsp;
					</div>
				</div>
			</div>
	<!-- end #page -->
</div>
	<div id="footer">
		<p>Copyright (c) 2008 Sitename.com. All rights reserved. Design by <a href="http://www.freecsstemplates.org/">Free CSS Templates</a>.</p>
	</div>
		<!-- end #page -->
		</div>
		<!-- end #footer -->
	</body>
	<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=true">
	</script>
	<script type="text/javascript">

	var map;
	var posicion;

	function initialize() {
		var myLatlng = new google.maps.LatLng(10.5,-66.91667);
		var myOptions = {
			zoom: 12,
			center: myLatlng,
			mapTypeId: google.maps.MapTypeId.ROADMAP
		}
		map = new google.maps.Map(document.getElementById("map_canvas"), myOptions);

		google.maps.event.addListener(map, 'click', function(event) {
			placeMarker(event.latLng);
		});
	}

	function placeMarker(location) {
		var clickedLocation = new google.maps.LatLng(location);
		var marker = new google.maps.Marker({
			position: location,
			map: map
		});
		// alert (marker.getPosition().toString());
		document.getElementById("buscar").value = marker.getPosition().lat();
		map.setCenter(location);
	}

	</script>
</html>
