
<html>
	<html>
<head>
  <title>Courier</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
	<body onload="initialize()">

<div id="wrapper">
	<div id="header">
		<div id="logo">
			<h1><a href="#">Courier UCAB   </a></h1>
		</div>
	</div>
	<!-- end #header -->
	<div id="menu">
		<ul>
			<li class="current_page_item"><a href="#">Principal</a></li>
			<li><a href="#">Seguimiento de Paquetes</a></li>
		</ul>
	</div>
	<!-- end #menu -->

		<div id="page">
			<div id="page-bgtop">
				<div id="page-bgbtm">
					<div id="content">
						<div id="form_container">

	<h1>
	<a>Seguimiento</a>
	</h1>
	<form id="form_178611" class="appnitro"  method="post" action="">
		<div class="form_description">
			<h2>Seguimiento</h2>

		</div>
		<ul >

			<li id="li_1" >
				<span>Numero de orden: <%= " " + @orden.id.to_s %> </br>
					Estado: <%= " " + @orden.estado %></span>
			</li></br>
			<li id="li_3" >
				<label class="description" for="element_3">
					Resultados detallados
				</label>
			</li>
			<li id="li_1" >
				<span>
					<% @historico.each do |historico| %>
					<%= historico.tipo + " - " + historico.fecha.to_s + ".  " + historico.ciudad + ", " + historico.cPostal  %></br>
					<% end %>
			</li>
		</ul>
	</form>
</div>
						<div style="clear: both;">
							&nbsp;
						</div>
					</div>
					<!-- end #content -->
					<div id="sidebar">
						<ul>
							<li>
						<h2>Seguimiento</h2>
								<div style="clear: both;">
									&nbsp;
								</div>
							<div id="search" >
									<form method="get" action="<%= seg_path %>">
										<div>
											<input type="text" name="s" id="buscar" value="" />
											<input type="submit" id="search-submit" value="Buscar" />
										</div>
									</form>
								</div>
								<div style="clear: both;">
									&nbsp;
								</div>
							</li>
							<li>
								<h2>Ingresar</h2>
								<p>
									<a id="Ingresar_sistema" href="https://www.google.com/accounts/o8/ud
									?openid.ns=http://specs.openid.net/auth/2.0
									&openid.ns.pape=http://specs.openid.net/extensions/pape/1.0
									&openid.ns.max_auth_age=300
									&openid.claimed_id=http://specs.openid.net/auth/2.0/identifier_select
									&openid.identity=http://specs.openid.net/auth/2.0/identifier_select
									&openid.return_to=http://<%= @remote_ip %>:3000/contenido
									&openid.realm=http://<%= @remote_ip %>:3000
									&openid.assoc_handle=ABSmpf6DNMw
									&openid.mode=checkid_setup
									&openid.ui.ns=http://specs.openid.net/extensions/ui/1.0
									&openid.ui.mode=popup
									&openid.ui.icon=true
									&openid.ns.ax=http://openid.net/srv/ax/1.0
									&openid.ax.mode=fetch_request
									&openid.ax.type.lastname=http://axschema.org/namePerson/last
									&openid.ax.type.email=http://axschema.org/contact/email
									&openid.ax.type.firstname=http://axschema.org/namePerson/first
									&openid.ax.required=lastname,email,firstname">Ingresar al sistema</a>
								</p>
							</li>
						</ul>
					</div>
					<!-- end #sidebar -->
					<div style="clear: both;">
						&nbsp;
					</div>
				</div>
			</div>
	<!-- end #page -->
</div>
	<div id="footer">
	</div>
		<!-- end #page -->
		</div>
		<!-- end #footer -->
	</body>
</html>

