<h1>Lista de ordenes</h1>

<table width="90%">
  <tr>
    <th>Receptor</th>
    <th>Estado</th>
    <th>Fecha</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @ordens.each do |orden| %>
  <tr align="center">
    <td><%= orden.nombre + ' ' + orden.apellido %></td>
    <td><%= orden.estado %></td>
    <td><%= orden.fecha %></td>
    <td><%= link_to 'Enviar', enviar_path(orden.id) %></td>
    <td><%= link_to 'Ver', orden %></td>
    <td><%= link_to 'Actualizar', edit_orden_path(orden) %></td>
    <td><%= link_to 'Eliminar', orden, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'nueva orden', new_orden_path %>
