

<div id="form_container">

	<h1>
	<a></a>
	</h1>
	<form id="form_178611" class="appnitro"  method="post" action="">
		<div class="form_description">
			<h2><%= t("principal.orden") %></h2>
			<p id="notice">
				<%= notice %>
			</p>
		</div>
		<ul >

			<li id="li_1" >
				<span>
					<%= t('receptor') %>: <%= " " + @orden.nombre + ' ' + @orden.apellido %> </br>
					<%= t('fecha') %>: <%= " " + @orden.fecha.to_s %>
					<br/>
					<%= t('estado') %>: <%= " " + @orden.estado %>
				</span>
			</li>
			<li id="li_1" >
				</p>
				<div id='paquetes'>
					<label class="description" for="element_3">
						<%= t('paquetesorden')%>
					</label>

					<table width="90%">
						<tr>
							<th><%= t('nombrez')%></th>
							<th><%= t('peso')%></th>
							<th><%= t('descripcion')%></th>
						</tr>
						<% @paquetes.each do |paquete| %>
						<tr align="center">
							<td><%= paquete.nombre %></td>
							<td><%= paquete.peso %></td>
							<td><%= paquete.descripcion %></td>
						</tr>
						<% end %>
					</table>
				</div>

			</li></br>
			<li id="li_3" >
				<label class="description" for="element_3">
					<%= t("principal.detallado") %>
				</label>
			</li>
			<li id="li_1" >
				<span>	<% @historico.each do |historico| %>
					<%= historico.tipo + " - " + historico.fecha.to_s + ".  " + historico.ciudad + ", " + historico.cPostal  %></br>
					<% end %>
			</li>
		</ul>
		<%= retorno(@orden.personas_id)  %>
	</form>
</div>