<p id="notice">
	<%= notice %>
</p>
<p>
	<b><%= t('receptor') %>:</b>
	<%= @orden.nombre + ' ' + @orden.apellido %>
</p>
<p>
	<b><%= t('fecha')%>:</b>
	<%= @orden.fecha %>
</p>
<p>
	<b><%= t('estado')%>:</b>
	<%= @orden.estado %>
</p>
<div id='paquetes'>
	<h3><%= t('paquetesorden')%></h3>
	<table width="90%">
		<tr>
			<th><%= t('nombrez')%></th>
			<th><%= t('peso')%></th>
			<th><%= t('descripcion')%></th>
		</tr>
		<% @paquetes.each do |paquete| %>
		<tr align="center">
			<td><%= paquete.nombre %></td>
			<td><%= paquete.peso %></td>
			<td><%= paquete.descripcion %></td>
		</tr>
		<% end %>
	</table>
</div>
<h3><%= t('seguimiento')%></h3>
<div id="paquetes">
	<form id="form_178611" class="appnitro"  method="post" action="">

		<ul>
			<li id="li_1" >
				<span><% @historico.each do |historico| %>
					<%= historico.tipo + " - " + historico.fecha.to_s + ".  " + historico.ciudad + ", " + historico.cPostal  %></br>
					<% end %></span>
			</li>
		</ul>
	</form>
</div>
<%= retorno(@orden.personas_id)  %>
