<html>
	<body onload="initialize()">
		<div id="form_container">
			<h1>
			<a>.</a>
			</h1>
			<div id="form1">
				<%= form_for(:despachar, :url => {:action => 'create'}, :html=>{:onsubmit=> "validar();", :name => "form"} ) do |f| %>
				<div class="form_description">
					<h2><%= t('rutarecoleccion') %></h2>
					<p>
						<%= t('listaasignada') %>
					</p>
				</div>
				<ul >

					<li id="li_2" >
						<label class="description" for="element_2">
							<%= t('recolector') %>
						</label>
						<div>
							<%= @personas.nombre + " " + @personas.apellido
%>
						</div>
					</li>
					<li id="li_3" >
						<label class="description" for="element_3">
							<%= t('ordenasignada') %>
						</label>
						<div class="form_description">
							<p> <%= t('noordendisponible') %>
							</p>
						</div>

					</li>
				</ul>
				<% end %>
				
			</div>
		</div>

	