<h1><%= t('listaordenes') %></h1>
<p id="notice"><%= notice %></p>
<table width="90%">
	<tr>
		<th><%= t('numero') %></th>
		<th><%= t('receptor') %></th>
		<th><%= t('estado') %></th>
		<th><%= t('fecha') %></th>
		<th></th>
		<th></th>
	</tr>
	<% @ordens.each do |orden| %>
	<tr align="center">
		<td><%= orden.id %></td>
		<td><%= orden.nombre + ' ' + orden.apellido %></td>
		<td><%= orden.estado %></td>
		<td><%= orden.fecha %></td>
		<td><%= link_to t('despachar') ,despachar_path(orden.id) %></td>
		<td><%= link_to t('mostrar'), orden %></td>
	</tr>
	<% end %>
</table>
<br />

