<h1><%= t('listarecolectores') %></h1>
<table width="80%">
	<tr>
		<th><%= t('nombrez') %></th>
		<th><%= t('apellido') %></th>
		<th>Email</th>
		<th></th>
	</tr>
	<% @personas.each do |persona| %>
	<tr align="Center">
		<td><%= persona.nombre  %></td>
		<td><%= persona.apellido %></td>
		<td><%= persona.email %></td>
		<td><%= validarDisponibilidad(persona.id) %></td>
	</tr>
	<% end %>
</table>
<br />

