<h2>helper para esconder boton o redireccionar diciendo q no hay recolectores</h2>
<div id="form_container">
	<h1>
	<a>.</a>
	</h1>
	<div id="form">
		<%= form_for(:despachar, :url => {:action => 'create'}, :html=>{:onsubmit=> "validar();", :name => "form"} ) do |f| %>
		<div class="form_description">
			<h2>Recoleccion orden # <%= @orden.id %></h2>
			<p>
				Indique el Recolector de la orden, y asigna las ordenes a recolectar
			</p>
		</div>
		<ul >

			<li id="li_2" >
				<label class="description" for="element_2">
					Recolector
				</label>
				<div>
					<%= f.select(:recolector, @recolector.collect {|p| [ p.nombre + " " + p.apellido, p.id ] }, {:include_blank => false}, {:class=>'element select medium'})
%>
				</div>
			</li>
			<li id="li_3" >
				<label class="description" for="element_3">
					Ordenes cercanas
				</label>
				<div class="form_description">
					<p>
						<%= descripcionDir(@direccionCercana) %>
					</p>
				</div>
				<% @direccionCercana.each do |orden|
				@count = @count +1%>

				<span>
					<% if orden.distancia < 0.1 %>
					<td><%= #check_box("enviar", :orden , :onclick => "marca(" + orden.lat.to_s + ',' + orden.lng.to_s + ',"' + orden.id.to_s +  '")')
%>
					<%= check_box("enviar", "orden" + @count.to_s, {:onclick => "marca(" + orden.lat.to_s + ',' + orden.lng.to_s + ',"' + orden.id.to_s +  '")'}, orden.id,"no")
%></td>
					<label class="choice" for="element_3_1">
						<%= "orden n: " + orden.id.to_s + ", fecha:  " + orden.fecha.to_s   %>
						<% end %>
					</label>
					<% end %>
				</span>
			</li>
			<li class="buttons">
				<%= f.hidden_field :orden, :value => @orden.id %>

				<input id="saveForm" class="button_text" type="submit" name="submit" value="Submit" />
			</li>
		</ul>
		<% end %>
	</div>
	<%= render ('maps') %>
</div>