<h1>Lista de ordenes</h1>
<table width="90%">
	<tr>
		<th>Numero</th>
		<th>Receptor</th>
		<th>Estado</th>
		<th>Fecha</th>
		<th></th>
	</tr>
	<% @ordenes.each do |orden| %>
	<tr align="center">
		<td><%= orden.id %></td>
		<td><%= orden.nombre + ' ' + orden.apellido %></td>
		<td><%= orden.estado %></td>
		<td><%= orden.fecha %></td>
		<td><%= link_to 'Simulacion', orden %></td>
	</tr>
	<% end %>
</table>
<br />

