<h1><%= t('listafactura') %></h1>

<table width="90%">
  <tr>
    <th><%= t('numorden') %></th>
    <th><%= t('fecha') %></th>
    <th><%= t('monto') %></th>
    <th></th>
  </tr>

<% @facturas.each do |factura| %>
  <tr>
  	<td><%= factura.numOrden %></td>
    <td><%= factura.fecha %></td>
    <td><%= factura.monto.round(2) %></td>
    <td><%= link_to t('mostrar'), factura %></td>

    
  </tr>
<% end %>
</table>

<br />

