<h1>Listing facturas</h1>

<table width="90%">
  <tr>
    <th>numero de orden</th>
    <th>Fecha</th>
    <th>Monto</th>
    <th></th>
  </tr>

<% @facturas.each do |factura| %>
  <tr>
  	<td><%= factura.numOrden %></td>
    <td><%= factura.fecha %></td>
    <td><%= factura.monto.round(2) %></td>
    <td><%= link_to 'Show', factura %></td>

    
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Factura', new_factura_path %>
