<p id="notice"><%= notice %></p>


<div id="encabezado">

<h2><%= @compania.nombre %></h2>
<h5><%= @compania.rif %></h5>
<p> Direccion Fiscal: <%=" " + @compania.direccionF %></p></br>
</div>
<dir id 'Contenido'>

<p>Orden numero:<%= @orden.id %> </p>
<p>Reseptor:<%= " " + @orden.nombre + ' ' + @orden.apellido %> </p>
<p>Fecha:<%= @orden.fecha %> </p>


<div id="paquetes"  >
		<h3>Paquetes</h3>
   	<table width="90%">
   		<tr>
   			<td><b>Nombre</b></td><td><b>Peso</b></td><td><b>Descripcion</b></td>
   		</tr>
<% @paquete.each do |paquete| %>
		<tr align="center">
			<td><%= paquete.nombre %></td>
			<td><%= paquete.peso %></td>
			<td><%= paquete.descripcion %></td>
		</tr>
		<% end %>
	</table>
  
</div>

<div id="paquetes">
<table width="90%">
	<tr>
		<td>
			<p><b>Costo:</b></p>
		</td>
		<td><%= @factura.costoTotal %></td>
	</tr>
		<tr>
		<td>
			<p><b>iva:</b></p>
		</td>
		<td><%= @factura.iva.round(2) %></td>
	</tr>
		<tr>
		<td>
			<p><b>Costo Total:<b></p>
		</td>
		<td><b><%= (@factura.costoTotal + @factura.iva).round(2) %></b></td>
	</tr>
</table>
</div>
</dir>
<div id="QR">
	
	<a href="http://10.0.7.3:3000/gen_xml/<%= @id %>"><img src="https://chart.googleapis.com/chart?cht=qr&chs=250x250&chl=http://10.0.7.3:3000/gen_xml/<%= @id %>" ></img></a>
</div>


<%= link_to 'Back', facturas_path %>
