<div id="page-wrap">

	<div id="identity">
		<div class="company">
			<h2><%= @compania.nombre %></h2>
			<h5><%= @compania.rif %></h5>
			Direccion:<%= " " + @compania.direccionF %>
			<br/>
			telefono:<%= " " + @compania.telefono %></br>
		</div>
	</div>
	<div style="clear:both">
	</div>
	<div id="customer">
<br/><br/>

		<div class="dues">
			<h3><%= @cliente.nombre + " " + @cliente.apellido %></h3><h5><%= @cliente.email %></h5>
			<br/>
		</div>
		<table id="meta">
			<tr>
				<td class="meta-head">Orden #</td>
				<td>
				<div class="due">
					<%= @orden.id %>
				</div>
				</td>
			</tr>
			<tr>

				<td class="meta-head">Fecha</td>
				<td>
				<div class="due">
					<%= @orden.fecha %>
				</div>
				</td>
			</tr>
			<tr>
				<td class="meta-head">Reseptor</td>
				<td>
				<div class="due">
					<%= @orden.nombre + ' ' + @orden.apellido %>
				</div>
				</td>
			</tr>
		</table>
	</div>
	<table id="items">

		<tr>
			<th>Item</th>
			<th>Description</th>
			<th>peso</th>
		</tr>
		<% @paquete.each do |paquete| %>
		<tr class="item-row">
			<td><%= paquete.nombre %></td>
			<td><%= paquete.descripcion %></td>
			<td><%= paquete.peso %> g</td>
		</tr>
		<% end %>

		<tr>
			<td colspan="2" class="blank"> </td>
			<td colspan="2" class="total-line">Subtotal</td>
			<td class="total-value">
			<div id="subtotal">
				<%= @factura.costoTotal %>
			</div>
			</td>
		</tr>
		<tr>

			<td colspan="2" class="blank"> </td>
			<td colspan="2" class="total-line">Iva</td>
			<td class="total-value">
			<div id="total">
				<%= @factura.iva.round(2) %>
			</div>
			</td>
		</tr>
		<tr>
			<td colspan="2" class="blank"> </td>
			<td colspan="2" class="total-line balance">Total</td>
			<td class="total-value balance">
			<div class="due">
				<%= (@factura.costoTotal + @factura.iva).round(2) %>
			</div>
			</td>
		</tr>
	</table>
	<div id="terms">
		<h5>Codigo</h5>
		<div id="QR">

			<a href="http://<%= @remote_ip %>:3000/gen_xml/<%= @orden.id %>">
			<img src="https://chart.googleapis.com/chart?cht=qr&chs=250x250&chl=http://<%= @remote_ip %>:3000/gen_xml/<%= @orden.id %>" >
			</img>
			</a>
		</div>
	</div>
<%= link_to 'Back', facturas_path %>
</div>

